<div class="container-fluid" style="padding: 10px 0px 10px 15px;">

  <button ng-click="ctrl.navTo('/')" type="button" class="btn button-hover" ng-class="(ctrl.$location === '/') ? 'btn-primary' : ''" bs-button>
    <i class="fa fa-info-circle" aria-hidden="true"></i> About
  </button>

  <button ng-click="ctrl.navTo('/settings')" type="button" class="btn button-hover" ng-class="(ctrl.$location === '/settings') ? 'btn-primary' : ''" bs-button>
    <i class="fa fa-cog" aria-hidden="true"></i> Settings
  </button>


</div>
